/* Basic styles */
body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

h1,
h2 {
  margin: 20px 0;
}

/* Image Slider */
.sliderPage {
  height: 200px;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(20, 20, 20);
}

.slideRow1 {
  height: 250px;
  display: flex;
  flex-direction: column;
}

.slideInner {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  height: 180px;
  white-space: nowrap;
  scrollbar-width: none;
}

.imgs {
  height: 170px;
  width: 300px;
  display: inline-block;
  background-size: cover;
  border-radius: 4px;
  margin-top: 10px;
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}


.imgs:hover {
  height: 180px;
  width: 320px;
}

.slideContent {
  display: flex;
}

.next,
.back {
  height: 170px;
  color: #dbdbdb;
  background-color: transparent;
  border: none;
  font-size: 2rem;
  width: 70px;
}

/* Accordion */
.accordion-section {
  padding: 20px;
  background-color: #fff;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
}

.accordion-btn {
  background-color: #333;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

/* Modal */
.modal-section {
  text-align: center;
  padding: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

input {
  height: 30px;
  width: 150px;
}

.sign {
  font-size: 1.2rem;
  padding-right: 80px;
}
